{{ range .Structs }}
var mapping{{.Name}} = mapping.Map{
    {{- range .Fields }}
    {
        Name: "{{ .Name }}",
        Type: field.{{ .Type }},
        {{- if gt .Type 14 }}
        {{- if not .SelfReferential }}
        Mapping: mapping{{ .IdentName }},
        {{- end }}
        {{- end }}
    },
    {{- end}}
}
{{end}}