{{- $file := .File }}
{{- if $file.Enums }}
// Deprecated: Not deprecated, but shouldn't be used directly or show up in documentation.
var XXXEnumGroups reflect.EnumGroups = reflect.XXXEnumGroupsImpl{
    List:   []reflect.EnumGroup{
        {{- range $file.Enums }}
        reflect.XXXEnumGroupImpl{
            GroupName: "{{ .Name }}",
            GroupLen: {{ .Len }},
            EnumSize: {{ .Size }},
            Descrs: []reflect.EnumValueDescr{
                {{- range .OrderByValues }}
                reflect.XXXEnumValueDescrImpl{
                    EnumName: "{{ .Name }}",
                    EnumNumber: {{ .Value }},
                },
                {{- end }}
            },
        },
        {{- end }} {{/* end Enum range */}} 
    },
    Lookup: map[string]reflect.EnumGroup{},
}

func init() {
    x := XXXEnumGroups.(reflect.XXXEnumGroupsImpl)
    for _, g := range x.List {
        x.Lookup[g.Name()] = g
    }
}
{{- end }} {{/* end Enum if */}} 

// Deprecated: No deprecated, but shouldn't be used directly or show up in documentation.
var XXXPackageDescr reflect.PackageDescr = &reflect.XXXPackageDescrImpl{
    Name: "{{ $file.Package }}",
    Path: "{{ $file.FullPath }}",
    {{- if .File.Imports.Imports }}
    ImportDescrs: []reflect.PackageDescr {
    {{- range $index, $value := .File.Imports.Imports }}
        {{ $value.Name }}.XXXPackageDescr,
    {{- end }} {{/* end .Imports range */}} 
    },
    {{- end }} {{/* end Imports if */}} 
    {{- if .File.Enums }}
    EnumGroupsDescrs: XXXEnumGroups,
    {{- end }} {{/* end Enum if */}} 
    {{- if .File.Structs }}
    StructsDescrs: reflect.XXXNewStructDescrsImpl(
        []reflect.StructDescr {
        {{- range .File.Structs  }}
            reflect.XXXNewStructDescrImpl(XXXMapping{{ .Name }}),
        {{- end }} 
        },
    ),
    {{- end }} {{/* end Structs if */}} 
}

// Initializes all of the package's externally defined field defs.
func init() {
    if err := XXXPackageDescr.XXXInit(); err != nil {
        panic(err)
    }
}

// PackageDescr returns a PackageDescr for this package.
func PackageDescr() reflect.PackageDescr {
    return XXXPackageDescr
}

func init() {
    runtime.RegisterPackage(XXXPackageDescr)
}