{{- range $structsIndex, $struct := .File.Structs }}
{{ $struct.Render }} {{/* The Struct object in the IDL renders its own template */}}

// XXXDescr returns the Struct's descriptor. This should only be used
// by the reflect package and is has no compatibility promises like all XXX fields.
//
// Deprecated: No deprecated, but shouldn't be used directly or show up in documentation.
func (x {{ $struct.Name }}) XXXDescr() reflect.StructDescr {
    return XXXPackageDescr.Structs().Get({{ $structsIndex }})
}

{{- end }} {{/* End range .Structs */}}