{{- $isSetEnabled := false }}
{{- if .File.Options.IsSet }}
{{- $isSetEnabled = true }}
{{- end }}
{{- if .Comment }}
// {{ .Comment }}
{{- end }}
type {{ .Name }} struct {
   s *segment.Struct
}

// New{{ .Name }} creates a new pooled instance of {{ .Name }}.
// Call Release() when done to return it to the pool for reuse.
func New{{ .Name }}(ctx context.Context) {{ .Name }} {
    s := segment.NewPooled(ctx, XXXMapping{{ .Name }})
    {{- if $isSetEnabled }}
    s.SetIsSetEnabled(true)
    {{- end }}
    return {{ .Name }}{
        s: s,
    }
}

// Release returns the struct to the pool for reuse.
// After calling Release, the struct should not be used.
func (x {{ .Name }}) Release(ctx context.Context) {
    segment.Release(ctx, x.s)
}

// XXXNew{{ .Name }}From creates a new {{ .Name }} from our internal Struct representation.
// As with all things marked XXX*, this should not be used and has not compatibility
// guarantees.
//
// Deprecated: This is not actually deprecated, but it should not be used directly nor
// show up in any documentation.
func XXXNew{{ .Name }}From(s *segment.Struct) {{ .Name }} {
    return {{ .Name }}{s: s}
}

{{- $struct := . }}

// Marshal marshal's the Struct to []byte.
func (x {{ $struct.Name }}) Marshal() ([]byte, error) {
    return x.s.MarshalBytes()
}

// MarshalWriter marshals to an io.Writer.
func (x {{ $struct.Name }}) MarshalWriter(w io.Writer) (n int, err error) {
    return x.s.Marshal(w)
}

// Unmarshal unmarshals b into the Struct.
func (x {{ $struct.Name }}) Unmarshal(b []byte) error {
    return x.s.Unmarshal(b)
}

// UnmarshalReader unmarshals a Struct from an io.Reader.
func (x {{ $struct.Name }}) UnmarshalReader (r io.Reader) (int, error) {
    return x.s.UnmarshalReader(r)
}

{{ range $index, $field := .Fields }}
{{- if eq $field.TypeAsString "Bool" }}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() bool {
    return segment.GetBool(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value bool) {{ $struct.Name }} {
    segment.SetBool(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Int8" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() int8 {
    return segment.GetInt8(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value int8) {{ $struct.Name }} {
    segment.SetInt8(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ .Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Int16" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() int16 {
    return segment.GetInt16(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value int16) {{ $struct.Name }} {
    segment.SetInt16(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Int32" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() int32 {
    return segment.GetInt32(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value int32) {{ $struct.Name }} {
    segment.SetInt32(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Int64" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() int64 {
    return segment.GetInt64(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value int64) {{ $struct.Name }} {
    segment.SetInt64(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Uint8" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
{{- if $field.IdentName -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() {{ $field.IdentName }} {
    return {{ $field.IdentName }}(segment.GetUint8(x.s, {{ $field.Index }}))
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value {{ $field.IdentName }}) {{ $struct.Name }} {
    segment.SetUint8(x.s, {{ $field.Index }}, uint8(value))
    return x
}
{{- else }}
func (x {{ $struct.Name }}) {{ $field.Name }}() uint8 {
    return segment.GetUint8(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value uint8) {{ $struct.Name }} {
    segment.SetUint8(x.s, {{ $field.Index }}, value)
    return x
}
{{- end }}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Uint16" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
{{- if $field.IdentName -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() {{ $field.IdentName }} {
    return {{ $field.IdentName }}(segment.GetUint16(x.s, {{ $field.Index }}))
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value {{ $field.IdentName }}) {{ $struct.Name }} {
    segment.SetUint16(x.s, {{ $field.Index }}, uint16(value))
    return x
}
{{- else }}
func (x {{ $struct.Name }}) {{ $field.Name }}() uint16 {
    return segment.GetUint16(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value uint16) {{ $struct.Name }} {
    segment.SetUint16(x.s, {{ $field.Index }}, value)
    return x
}
{{- end }}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Uint32" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() uint32 {
    return segment.GetUint32(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value uint32) {{ $struct.Name }} {
    segment.SetUint32(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Uint64" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() uint64 {
    return segment.GetUint64(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value uint64) {{ $struct.Name }} {
    segment.SetUint64(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Float32" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() float32 {
    return segment.GetFloat32(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value float32) {{ $struct.Name }} {
    segment.SetFloat32(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Float64" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() float64 {
    return segment.GetFloat64(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value float64) {{ $struct.Name }} {
    segment.SetFloat64(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "String" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() string {
    return segment.GetString(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value string) {{ $struct.Name }} {
    segment.SetString(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Bytes" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() []byte {
    return segment.GetBytes(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) SafeGet{{ $field.Name }}() []byte {
    return segment.GetBytesCopy(x.s, {{ $field.Index }})
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value []byte) {{ $struct.Name }} {
    segment.SetBytes(x.s, {{ $field.Index }}, value)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "Struct" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() {{ $field.IdentName }} {
    {{- if $field.IsExternal }}
    s := segment.GetNestedStruct(x.s, {{ $field.Index }}, {{ $field.Package }}.XXXMapping{{ $field.IdentInFile }})
    return {{ $field.Package }}.XXXNew{{ $field.IdentInFile }}From(s)
    {{- else }}
    s := segment.GetNestedStruct(x.s, {{ $field.Index }}, XXXMapping{{ $field.IdentInFile }})
    return {{ $field.IdentName }}{s: s}
    {{- end }}
}

func (x {{ $struct.Name }}) Set{{ $field.Name }}(value {{ $field.IdentName }}) {{ $struct.Name }} {
    segment.SetNestedStruct(x.s, {{ $field.Index }}, value.XXXGetStruct())
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "ListBools" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() *segment.Bools {
    if l := x.s.GetList({{ $field.Index }}); l != nil {
        return l.(*segment.Bools)
    }
    bools := segment.NewBools(x.s, {{ $field.Index }})
    x.s.SetList({{ $field.Index }}, bools)
    return bools
}

// Set{{ $field.Name }} replaces all values in the bool list.
func (x {{ $struct.Name }}) Set{{ $field.Name }}(v ...bool) {{ $struct.Name }} {
    bools := x.{{ $field.Name }}()
    bools.SetAll(v)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "ListUint8" "ListUint16" "ListUint32" "ListUint64" "ListInt8" "ListInt16" "ListInt32" "ListInt64" "ListFloat32" "ListFloat64" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
{{- if $field.IdentName -}}
// Enum list - returns a number list that can be cast to the enum type
func (x {{ $struct.Name }}) {{ $field.Name }}() *segment.Numbers[{{ $field.GoListType }}] {
    if l := x.s.GetList({{ $field.Index }}); l != nil {
        return l.(*segment.Numbers[{{ $field.GoListType }}])
    }
    nums := segment.NewNumbers[{{ $field.GoListType }}](x.s, {{ $field.Index }})
    x.s.SetList({{ $field.Index }}, nums)
    return nums
}
{{- else }}
func (x {{ $struct.Name }}) {{ $field.Name }}() *segment.Numbers[{{ $field.GoListType }}] {
    if l := x.s.GetList({{ $field.Index }}); l != nil {
        return l.(*segment.Numbers[{{ $field.GoListType }}])
    }
    nums := segment.NewNumbers[{{ $field.GoListType }}](x.s, {{ $field.Index }})
    x.s.SetList({{ $field.Index }}, nums)
    return nums
}
{{- end }}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

// Set{{ $field.Name }} replaces all values in the numeric list.
func (x {{ $struct.Name }}) Set{{ $field.Name }}(v ...{{ $field.GoListType }}) {{ $struct.Name }} {
    nums := x.{{ $field.Name }}()
    nums.SetAll(v)
    return x
}

{{ else if eq $field.TypeAsString "ListBytes" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() *segment.Bytes {
    if l := x.s.GetList({{ $field.Index }}); l != nil {
        return l.(*segment.Bytes)
    }
    b := segment.NewBytes(x.s, {{ $field.Index }})
    x.s.SetList({{ $field.Index }}, b)
    return b
}

// Set{{ $field.Name }} replaces all values in the bytes list.
func (x {{ $struct.Name }}) Set{{ $field.Name }}(v ...[]byte) {{ $struct.Name }} {
    b := x.{{ $field.Name }}()
    b.SetAll(v)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "ListStrings" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
func (x {{ $struct.Name }}) {{ $field.Name }}() *segment.Strings {
    if l := x.s.GetList({{ $field.Index }}); l != nil {
        return l.(*segment.Strings)
    }
    strs := segment.NewStrings(x.s, {{ $field.Index }})
    x.s.SetList({{ $field.Index }}, strs)
    return strs
}

// Set{{ $field.Name }} replaces all values in the string list.
func (x {{ $struct.Name }}) Set{{ $field.Name }}(v ...string) {{ $struct.Name }} {
    strs := x.{{ $field.Name }}()
    strs.SetAll(v)
    return x
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ else if eq $field.TypeAsString "ListStructs" -}}
{{- if $field.Comment -}}
// {{ $field.Comment }}
{{ end -}}
// {{ $field.Name }}List returns the underlying Structs list for iteration.
// Use New{{ $field.IdentInFile }}() to create items and Append to add them.
func (x {{ $struct.Name }}) {{ $field.Name }}List() *segment.Structs {
    if l := x.s.GetList({{ $field.Index }}); l != nil {
        return l.(*segment.Structs)
    }
    {{- if $field.IsExternal }}
    structs := segment.NewStructs(x.s, {{ $field.Index }}, {{ $field.Package }}.XXXMapping{{ $field.IdentInFile }})
    {{- else }}
    structs := segment.NewStructs(x.s, {{ $field.Index }}, XXXMapping{{ $field.IdentInFile }})
    {{- end }}
    x.s.SetList({{ $field.Index }}, structs)
    return structs
}

// {{ $field.Name }}Len returns the number of items in the list.
func (x {{ $struct.Name }}) {{ $field.Name }}Len() int {
    return x.{{ $field.Name }}List().Len()
}

// {{ $field.Name }}Get returns the item at the given index.
func (x {{ $struct.Name }}) {{ $field.Name }}Get(index int) {{ $field.IdentName }} {
    s := x.{{ $field.Name }}List().Get(index)
    {{- if $field.IsExternal }}
    return {{ $field.Package }}.XXXNew{{ $field.IdentInFile }}From(s)
    {{- else }}
    return {{ $field.IdentName }}{s: s}
    {{- end }}
}

// {{ $field.Name }}Append appends items to the list.
func (x {{ $struct.Name }}) {{ $field.Name }}Append(values ...{{ $field.IdentName }}) {
    list := x.{{ $field.Name }}List()
    for _, v := range values {
        list.Append(v.XXXGetStruct())
    }
}

// Append{{ $field.Name }} is an alias for {{ $field.Name }}Append for backwards compatibility.
func (x {{ $struct.Name }}) Append{{ $field.Name }}(values ...{{ $field.IdentName }}) {
    x.{{ $field.Name }}Append(values...)
}

{{- if $isSetEnabled }}
func (x {{ $struct.Name }}) IsSet{{ $field.Name }}() bool{
    return x.s.HasField({{ $field.Index }})
}
{{- end }}

{{ end }}{{/* End if eq $field.Type */}}
{{- end }}{{/* End range $index, $field := .Fields */}}

// ClawStruct returns a reflection type representing the Struct.
func (x {{ $struct.Name }}) ClawStruct() reflect.Struct{
    return reflect.XXXNewStruct(x.s, x.XXXDescr())
}

// XXXGetStruct returns the internal Struct representation. Like all XXX* types/methods,
// this should not be used and has no compatibility guarantees.
//
// Deprecated: Not deprectated, but should not be used and should not show up in documentation.
func (x {{ $struct.Name }}) XXXGetStruct() *segment.Struct {
    return x.s
}

